* {
  font-family: "Cinzel", serif;
}

body {
  background-color: #fff;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-nav {
  background-color: #a1a1a1;
  width: 98vw;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.main-nav a {
  color: #010136;
  text-decoration: none;
}

.main-nav a:hover {
  color: #55029e;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid;
  padding: 12px 0;
  margin-bottom: 3rem;
}

.title h1 {
  font-size: 3rem;
  margin: 0;
}

footer {
  background: #eee;
  padding: 20px;
  text-align: center;
}

.main-img {
  width: 40vw;
  height: 25vw;
  border-radius: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1140px;
  padding: 10px;
  margin: 20px auto;
}

.go-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* create pizza form */
.create-pizza {
  background: #f7f7f7;
  padding: 20px;
}
.create-pizza label, .create-pizza select {
  display: block;
}
.create-pizza label {
  margin-top: 30px;
}
.create-pizza select {
  padding: 8px;
  width: 200px;
}
.create-pizza input[type=checkbox] {
  margin: 10px;
}
.create-pizza input[type=submit] {
  background: #5e2195;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  margin-top: 20px;
}
.create-pizza fieldset {
  border: 0;
}

/* pizza details page */
.pizza-details {
  background: #f7f7f7;
  padding: 20px;
}
.pizza-details p {
  margin: 20px 0;
  font-weight: bold;
}
.pizza-details button {
  background: #5e2195;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

a.back {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #5e2195;
  margin-bottom: 20px;
}

/* pizza index page */
.pizza-index h1 {
  margin-bottom: 40px;
}
.pizza-index .pizza-item {
  margin: 10px 0;
  padding: 12px;
  background: #f4f4f4;
}
.pizza-index .pizza-item img {
  width: 60px;
  display: inline-block;
}
.pizza-index .pizza-item h4 {
  display: inline-block;
  font-weight: normal;
  margin-left: 20px;
}
.pizza-index .pizza-item h4 a {
  color: #777;
  text-decoration: none !important;
}
